@model POE_Claim_System.Models.ClaimView

@{
    ViewData["Title"] = "Lecturer Claim Submission";
}

<!-- Home Link -->
<div>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Home</a>
</div>

<div class="container mt-4">
    <h2 class="text-center">Claim Submission</h2>

    <form asp-action="SubmitClaim" asp-controller="Submit" method="post" enctype="multipart/form-data">

        <!-- Course Section -->
        <div class="mt-4">
            <h4>--Course--</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="courseCode">Course Code:</label>
                        <select class="form-select form-select-solid" data-control="select2" asp-for="CourseId" asp-items="Model.Courses" data-hide-search="false">
                            <option value="0">Please select</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="groupNumber">Group Number:</label>
                        <select class="form-select form-select-solid" data-control="select2" asp-for="ClassId" asp-items="Model.Classes" data-hide-search="false">
                            <option value="0">Please select</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <!-- Hours Section -->
        <div class="mt-4">
            <h4>--Hours--</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="totalHours">Total Hours Worked:</label>
                        <input asp-for="TotalHours" id="totalHours" name="totalHours" class="form-control" placeholder="Enter total hours worked" />
                    </div>
                </div>
            </div>
        </div>

        <!-- Documents Section (asp creates name)-->
        <div class="mt-4">
            <h4>--Documents--</h4>
            <div class="form-group">
                <label for="uploadDocument">Choose a Document to Upload:</label>
                <input asp-for="Document" type="file"  class="form-control-file" /> 
            </div>
        </div>

        <!-- Notes Section -->
        <div class="mt-4">
            <h4>--Notes--</h4>
            <div class="form-group">
                <label for="additionalNotes">Additional Notes:</label>
                <input asp-for="AdditionalNotes" id="additionalNotes" name="additionalNotes" class="form-control" placeholder="Add any notes" />
            </div>
        </div>

        <!-- Submit Button -->
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary">Submit Claim</button>
        </div>
    </form>
</div>

