@model POE_Claim_System.Models.LogIn
@{
    ViewData["Title"] = "Login Page";
}
<h2 style="text-align: center; color: black;">-- Log In --</h2>

<!-- Log In Form -->

<h3 style="text-align: center; color: darkgreen";>Please enter your username (email) and password details to Log In:</h3>
    <form asp-action="LogIn" method="post">
        <div class="form-group">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control" required />
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" class="form-control" required />
        </div>

        <button type="submit" class="btn" style="background-color: coral; color: white;">Log In</button>
    </form>

