@model POE_Claim_System.Models.Person

@{
    ViewData["Title"] = "Signup Page";
}

<h2 style="text-align: center; color: black;">-- Sign Up --</h2>


<!-- Sign Up Form -->

<h3 style="text-align: center; color: mediumpurple;">Please enter the following details to Sign Up:</h3>
    <form asp-action="SignUp" method="post">
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" required />
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" required />
        </div>
        <div class="form-group">
            <label asp-for="EmailAddress"></label>
            <input asp-for="EmailAddress" type="email" class="form-control" required />
        </div>
        <div class="form-group">
            <label asp-for="ContactNumber"></label>
            <input asp-for="ContactNumber" class="form-control" required />
        </div>
        <div class="form-group">
            <label asp-for="StaffNumber"></label>
            <input asp-for="StaffNumber" class="form-control" required />
        </div>
        <div class="form-group">
            <label asp-for="RoleName"></label>
            <select asp-for="RoleName" class="form-control" required>
                <option value="">Select Role</option>
                <option value="Lecturer">Lecturer</option>
            <option value="CoordinatorManager">CoordinatorManager</option>
            </select>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-primary">Confirm Sign Up</button>
    </form>
